@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf7f5fb;
  --foreground: #171717;
  --primary: #174869;
  --text: #fffdfd;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
